<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog</title>
        <link 
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
        crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="container">

            <br/><br/>
            <h1>Blog Post</h1>
            <br/><br/>
            <a class="btn btn-info" role="button" href="{{ url_for('search') }}">Search</a>
            
            {% if not session.logged_in %}
            <a class="btn btn-success" href="{{ url_for('login') }}" id="login">
                Log in
            </a>
            {% else %}
            <a class="btn btn-warning" href="{{ url_for('logout') }}" id="logout">
                Log out
            </a>
            {% endif %}

            <br/><br/>
            </div>

            {% for message in get_flashed_messages() %}
            <div class="flash alert alert-success col-sm-4" role="success">
                {{ message }}
            </div>

            {% endfor %} 
            
            {% block body %}{% endblock %}

            {% if session.logged_in %}
                <form action="{{ url_for('add_entry') }}" method="post" class="add-entry form-group">
                    <dl>
                        <dt>Title:</dt>
                        <dd>
                            <input
                            type="text"
                            size="30"
                            name="title"
                            id="title-input"
                            placeholder="Enter a blog title"
                            class="form-control col-sm-4"
                            />
                        </dd>
                        <dt>Text:</dt>
                        <dd>
                            <textarea
                            name="text"
                            rows="5"
                            cols="40"
                            id="post-input"
                            placeholder="Write a post"
                            class="form-control col-sm-4"
                            >
                            </textarea>
                        </dd>
                        <dd>
                            <input
                            type="submit"
                            value="Post"
                            id="post-btn"
                            class="btn btn-primary"
                            />
                        </dd>
                    </dl>
                </form>
            {% endif %}
            <ul class="entries">
                {% for entry in db_entries %}
                <li class="entry">
                    <h2 id="{{ entry.id }}">{{ entry.title }}</h2>
                    {{ entry.text|safe }}
                  </li>
                {% else %}
                <li><em>No entries yet. Add some!</em></li>
                {% endfor %}
            </ul>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>