{% extends 'base.html' %}

{% block title %}Blog posts{% endblock %}

{% if not session.logged_in %}
{% block extra_header %}
<li><a href="{{ url_for('login') }}">Log in</a></li>
<!-- <li><a href="{{ url_for('create_account') }}">Log in</a></li> -->
{% endblock %}
{% endif %}

{% block content_title %}
    {% if search %}
    Search "{{ search }}"
    {% else %}
    Blog posts
    {% endif %}
{% endblock %}

{% block content %}
    {% for entry in object_list %}
        <h3>
            <a
            href="{% if entry.published %} {{ url_for('detail', slug=entry.slug) }} {% else %} {{ url_for('edit', slug=entry.slug) }} {% endif %}">
            {{ entry.title }}
        </a>
        </h3>
        <p>Created {{ entry.timestamp.strftime('%d/%m/%Y at %G:%I%p') }}</p>
    {% endfor %}
    {% include 'includes/pagination.html' %}
{% endblock %}