<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | Login</title>
    <link 
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous"
    />
</head>
    <body>
        <div class="container">
            <h1>Login</h1>

            <div class="metanav">
                {% if not session.logged_in %}
                <a href="{{ url_for('login') }}">Log in</a>
                {% else %}
                <a href="{{ url_for('logout') }}">Log out</a>
                {% endif %}
            </div>

            {% for message in get_flashed_messages() %}
            <div  class="flash alert alert-success col-sm-4" role="success">
                {{ message }}
            </div>
            {% endfor %} {% block body %}{% endblock %}

            <h2>Login</h2>

            {% if error %}
            <p class="alert alert-danger col-sm-4" role="danger">
                <strong>Error:</strong>
                {{ error }}
            </p>
            {% endif %}

            <form action="{{ url_for('login') }}" method="post" class="form-group">
                <dl>
                    <dt>Username:</dt>
                    <dd><input type="text" name="username" id="login-username" class="form-control ocl-sm-4"/></dd>
                    <dt>Password:</dt>
                    <dd><input type="password" name="password" id="login-password" class="form-control col-sm-4"/></dd>
                    <dd><input type="submit" value="Login" id="login-btn" class="btn btn-primary"/></dd>
                </dl>
            </form>
        </div>
    </body>
</html>